/*Importe CSS*/

@import "projeto-dropdown-menu.css";

/*CSS*/

body,
h1,
h2,
ul,
li,
p,
dd,
dt,
dl {
  margin: 0px;
  padding: 0px;
}
/* HTML5 display-role reset for older browsers */

body {
  font-family: "Courier New", Courier, monospace;
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  background: #fb5;
  padding: 20px;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
  margin-right: 10px;
  color: #222;
  text-decoration: none;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1em;
  border-radius: 5px;
  transition: 0.3s;
}
.menu li a:hover {
  font-weight: bold;
  padding: 10px;
  background: #e54;
}
.sobre {
  display: flex;

  width: 1200px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.sobre-estiloFont {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  margin: 50px 20px;
  font-size: 2rem;
  flex-grow: 2;
}
.sobre p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;

  text-align: left;
  line-height: 35px;
  margin: 20px 20px 0px;
}
.sobre img {
  width: 500px;
  border-radius: 0px 5px 5px 0;
}
.projeto {
  margin: 0 auto;
  width: 960px;
  display: inline;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.projeto h1 {
  font-size: 20pt;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "Courier New", Courier, monospace;
}

.btn a {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-size: 15pt;
  display: block;
  color: black;
  background-color: #fb5;
  border-radius: 5px;
  padding: 15px 20px;
  margin: 0 auto;
  transition: 0.3s;
  max-width: 140px;
}

.btn a:hover {
  font-weight: bold;
  padding: 15px;
  background: #e54;
}
.contato {
  margin-top: 40px;
}
.contato-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  padding: 40px;
  background: #fb5;
  color: black;
  align-items: center;
  gap: 50px;
}
.contato-btn a {
  font-weight: bold;
  color: black;
  border-radius: 5px;
  margin-top: 20px;
  background: #fb5;
  padding: 20px;
}
.contato-btn a:hover {
  color: black;
  background-color: #e54;
}
